*{
  margin: 0px;
  padding: 0px;
}
body{

  background-color:#E3F6FB;
  margin: 5px 1px 10px 2px;
}


.header{
  text-align: center;
  color: #FFFFFF;
  font-weight: 150;
  font-size: 30px;
  text-decoration-color: #FFFFFF;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top: 40px;
}

.details{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
